<?xml version="1.0"?>
<ruleset name="iparapheur-v5-api-php">
    <description>PSR12</description>

    <arg name="basepath" value="."/>
    <arg name="colors"/>
    <arg name="parallel" value="5"/>
    <arg value="sp"/>

    <file>src</file>
    <file>test</file>

    <rule ref="PSR12" />
    <rule ref="PSR2.Files.EndFileNewline.NoneFound">
        <exclude-pattern>src/Model/.*\.php</exclude-pattern>
    </rule>
</ruleset>
